###
# Configuration for BL Touch and its derivatives
#
# Note:!!! I have connected a CR Touch and it functions BUT I've not tested it yet to see how it performs and if there are issues !!!
#
# To connect requires the use of ATMEGA 1280 IO for servo and an endstop for trigger
#
# In my test I used PC1 on 1280 IO for servo and Z MAX for trigger 
#
# All endstops and availablity:
#
# X MIN    PL0 (available)
# X MAX    PL1
# Y MIN    PL2 (available)
# Y MAX    PL3
# Z MIN    PL6
# Z MAX    PL7 (available)
#
# For ATMEGA 1280 IO you have a number of pins available on the board.
#
###
[bltouch]
sensor_pin: ^PL7
control_pin: PC1 # other pins are PC0, PG1, PG0...
x_offset: -17
y_offset: -45

[safe_z_home]
home_xy_position:  101.5,113
speed: 50
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 200
horizontal_move_z: 5 # set appropriately for your setup e.g. BL touch / derivatives my require raising higher to stop probe needle not extending correctly
mesh_min: -10,20
mesh_max: 170,100
probe_count: 5,3 
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

###
# Manual bed level adjustment using probe
###
[screws_tilt_adjust]
screw1: 97.5,60
screw1_name: front centre
screw2: 40,145
screw2_name: rear left screw
screw3: 156,145
screw3_name: rear right screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M3
