###
# Probe
#
# I have a 12mm 5v inductive probe connected to Z MAX endstop
#
# All endstops and availablity:
#
# X MIN    PL0 (available)
# X MAX    PL1
# Y MIN    PL2 (available)
# Y MAX    PL3
# Z MIN    PL6
# Z MAX    PL7 (available)
###
[probe]
x_offset: -17
y_offset: -45
pin: !PL7
speed: 30
samples: 1
z_offset = 1.380 # set for your set-up e.g. using PROBE_CALIBRATE

[safe_z_home]
home_xy_position:  101.5,113
speed: 50
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 200
horizontal_move_z: 5 # set appropriately for your setup e.g. BL touch / derivatives my require raising higher to stop probe needle not extending correctly
mesh_min: -10,20
mesh_max: 170,100
probe_count: 5,3 
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

###
# Manual bed level adjustment using probe
###
[screws_tilt_adjust]
screw1: 97.5,60
screw1_name: front centre
screw2: 40,145
screw2_name: rear left screw
screw3: 156,145
screw3_name: rear right screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M3